/* Mobile */
@media (max-width: 740px)
{
    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        color: #fff;
    }

    #nav .subnav a {
        color: #fff;
        padding: 0 40px;
    }

    #header {
        font-size: 15px;
        overflow: hidden;
    }

    #header .search-icon{
        display: none;
    }

    #header .menu-btn{
        display: inline-block;
    }

    #header .menu-icon{
        color: #fff;
        font-size: 20px;
        line-height: 46px;
        padding: 0 24px;
    }

    #mobile-menu {
        position: absolute;
        top: 0;
        right: 0;
    }  
}

/* PC */
@media (min-width: 1024px)
{

}

/* Ipad */
@media (max-width: 1023px) and (min-width: 741px)
{

}

